# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Testing  files
tests/
tests/*

# Misc
.b
.vscode/settings.json
test_gnl/get_next_line_tests.c
test_gnl/test_bonus_alp.md
test_gnl/test_bonus_num.md
test_gnl/test_multiple_chars_no_nl.md
test_gnl/test_multiple_lines_with_nl.md
test_gnl/test_single_char_no_nl.md
get_next_line_tests.c
